---
layout: default
---
<aside class="c-sidebar">
  <div class="c-sidebar-author">
    <div class="c-author__cover">
      <a href="{{site.baseurl}}/">
        <img src="{{site.baseurl}}/images/{% if site.author-image %}{{site.author-image}}{% endif %}" alt="{{site.author-name}}">
      </a>
    </div>
    <div class="c-author__info">
      <div class="c-author__name">{{site.author-name}}</div>
      <span class="c-author__job">{{site.author-job}}</span>
    </div>
    <p class="c-author__about">{{site.about-author | strip_html | truncatewords: 50}}</p>
  </div>

  <div class="c-sidebar-footer">
    <div class="c-copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author-name}}</p>
    </div>
  </div>
</aside> <!-- /.c-sidebar -->

<main class="c-content">
  {{ content }}
</main> <!-- /.c-content -->